* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#header a {
  margin: 10px 0 0 30px;
}

#header #d-menu {
  margin: auto;
}

#header #d-menu a {
  text-decoration: none;
  font-family: "Noto Sans KR", "Arial";
  font-size: 1.1em;
  color: #9e2b02;
  font-weight: bold;
  margin: 3vw;
  position: relative;
}

#header #d-menu a:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  top: -10px;
  left: 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#header #d-menu a:hover:after {
  width: 30px;
  height: 30px;
  background-color: #9e2b02;
  border-radius: 100%;
  opacity: 0.4;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header .phone-menu {
  height: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  height: 20px;
}

#header .phone-menu div {
  width: 20px;
  background-color: black;
  height: 3px;
  margin-bottom: 5px;
}

#menu-box {
  height: 100%;
  width: 80%;
  background-color: #30260a;
  position: fixed;
  z-index: 10;
  right: 100%;
}

#menu-box .menu {
  color: white;
  font-family: "Noto Sans KR", "Arial";
  font-size: 1.1em;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  border-bottom: 1px solid #505050;
}

#menu-box .menu span {
  margin-right: 15px;
}

#menu-box #menu-div {
  background-image: -webkit-gradient(linear, right top, left top, from(#9e2b02), to(#a17402));
  background-image: linear-gradient(right, #9e2b02, #a17402);
  width: 100%;
  height: 120px;
}

#menu-box h2 {
  color: white;
  text-align: center;
  padding-top: 30px;
  line-height: 30px;
  font-size: 1.4em;
  margin: 0;
}

#menu-box p {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: "Noto Sans KR", "Arial";
}

#intro {
  background-image: url("../img/event.jpg");
  background-size: cover;
  width: 100%;
  padding: 100px 40px 40px 40px;
}

#intro h1 {
  color: #975102;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Noto Serif KR", "Arial";
  text-align: center;
}

#intro p {
  max-width: 1000px;
  margin: auto;
  color: #2c2c2c;
}

#intro h2 {
  font-size: 2em;
  font-weight: bold;
  font-family: "Noto Serif KR", "Arial";
  text-align: center;
  color: #975102;
  display: block;
  width: 100%;
  margin-top: 50px;
}

#currentevent {
  position: relative;
}

#currentevent .event-circle {
  border-radius: 100%;
  border: 1px solid #a17402;
  margin: 30px;
}

#currentevent .event-circle:nth-child(1) {
  width: 300px;
  height: 300px;
  position: absolute;
  left: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#currentevent .event-circle:nth-child(1) div {
  width: 280px;
  height: 280px;
  background: red;
  margin: auto;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../img/christmas-2.jpg");
  background-size: cover;
}

#currentevent .event-circle:nth-child(2) {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 40%;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#currentevent .event-circle:nth-child(2) div {
  width: 130px;
  height: 130px;
  background-image: url("../img/christmas-3.jpg");
  background-size: cover;
  border-radius: 100%;
  margin: auto;
}

#currentevent .event-circle:nth-child(3) {
  width: 150px;
  height: 150px;
  position: absolute;
  right: -130px;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#currentevent .event-circle:nth-child(3) div {
  width: 130px;
  height: 130px;
  background: red;
  border-radius: 100%;
  margin: auto;
  background-image: url("../img/christmas-1.jpg");
  background-size: cover;
}
/*# sourceMappingURL=event.css.map */