* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#header a {
  margin: 10px 0 0 30px;
}

#header #d-menu {
  margin: auto;
}

#header #d-menu a {
  text-decoration: none;
  font-family: "Noto Sans KR", "Arial";
  font-size: 1.1em;
  color: #9e2b02;
  font-weight: bold;
  margin: 3vw;
  position: relative;
}

#header #d-menu a:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  top: -10px;
  left: 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#header #d-menu a:hover:after {
  width: 30px;
  height: 30px;
  background-color: #9e2b02;
  border-radius: 100%;
  opacity: 0.4;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header .phone-menu {
  height: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  height: 20px;
}

#header .phone-menu div {
  width: 20px;
  background-color: black;
  height: 3px;
  margin-bottom: 5px;
}

#menu-box {
  height: 100%;
  width: 80%;
  background-color: #30260a;
  position: fixed;
  z-index: 10;
  left: -100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#menu-box .menu {
  color: white;
  font-family: "Noto Sans KR", "Arial";
  font-size: 1.1em;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  border-bottom: 1px solid #505050;
}

#menu-box .menu span {
  margin-right: 15px;
}

#menu-box #menu-div {
  background-image: -webkit-gradient(linear, right top, left top, from(#9e2b02), to(#a17402));
  background-image: linear-gradient(right, #9e2b02, #a17402);
  width: 100%;
  height: 120px;
}

#menu-box h2 {
  color: white;
  text-align: center;
  padding-top: 30px;
  line-height: 30px;
  font-size: 1.4em;
  margin: 0;
}

#menu-box p {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: "Noto Sans KR", "Arial";
}

.background {
  background-color: #30260a;
  padding: 40px;
}

#menu-section {
  background-color: #30260a;
  padding: 20px 0 40px 0;
  max-width: 1200px;
  margin: auto;
}

#menu-section #menus {
  border-bottom: 2px solid #a17402;
  padding: 20px;
}

#menu-section .menu-sort {
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 120px;
  margin: auto;
  padding: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 10px;
  font-size: 17px;
}

#menu-section .menu-sort:hover {
  color: #d9643a;
  letter-spacing: 2px;
}

#menu-section .menu-sort:after {
  content: '';
  background-color: #d9643a;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

#menu-section .menu-sort:hover:after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

#menu-section #modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(50, 50, 50, 0.8);
}

#menu-section #modal .flex {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-section #detail {
  border-radius: 20px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

#menu-section #detail .close {
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-weight: bold;
}

#menu-section #detail .image {
  background-image: url("../img/table.jpg");
  background-size: cover;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  min-height: 150px;
}

#menu-section #detail .image .pizza-img {
  width: 50%;
  max-width: 350px;
  min-width: 250px;
}

#menu-section #detail .explain {
  background-color: white;
  padding: 10px 20px;
  position: relative;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

#menu-section #detail .explain #menu-name {
  text-align: center;
  font-family: "Noto Sans KR", "Arial";
  color: #975102;
  position: relative;
}

#menu-section #detail .explain #menu-name .btn {
  cursor: pointer;
  color: black;
  position: absolute;
}

#menu-section #detail .explain .left {
  left: 10px;
  bottom: 75%;
  position: absolute;
  cursor: pointer;
}

#menu-section #detail .explain .right {
  right: 10px;
  bottom: 75%;
  position: absolute;
  cursor: pointer;
}

#menu-section #detail .explain .menu-introduction {
  font-family: "Noto Sans KR", "Arial";
  color: #6e6e6e;
}

#menu-section #detail .explain .ingredient {
  color: #d9643a;
  font-weight: bold;
}

#menu-section #detail .large {
  border: 1px solid #a17402;
  width: 150px;
  padding: 10px 15px 10px 55px;
  border-radius: 20px;
  font-size: 17px;
  font-family: "Noto Sans KR", "Arial";
  background-color: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}

#menu-section #detail .large:after {
  position: absolute;
  content: 'L';
  background-color: #a17402;
  color: white;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 40px;
  padding-top: 9px;
}

#menu-section #detail .large:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #a17402;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;
}

#menu-section #detail .large:hover {
  color: white;
  z-index: 0;
}

#menu-section #detail .large:hover:before {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

#menu-section #detail .regular {
  border: 1px solid #d9643a;
  width: 150px;
  padding: 10px 15px 10px 55px;
  border-radius: 20px;
  font-size: 17px;
  font-family: "Noto Sans KR", "Arial";
  background-color: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}

#menu-section #detail .regular:after {
  position: absolute;
  content: 'R';
  background-color: #d9643a;
  color: white;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 40px;
  padding-top: 9px;
}

#menu-section #detail .regular:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #d9643a;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;
}

#menu-section #detail .regular:hover {
  color: white;
  z-index: 0;
}

#menu-section #detail .regular:hover:before {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

#menu-section #detail .button-normal {
  border: 1px solid #a17402;
  width: 150px;
  height: 47px;
  padding: 0;
  border-radius: 20px;
  margin-bottom: 15px;
  font-size: 17px;
  font-family: "Noto Sans KR", "Arial";
  background-color: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 8px;
}

#menu-section #detail .button-normal:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #a17402;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;
}

#menu-section #detail .button-normal:hover {
  color: white;
  z-index: 0;
}

#menu-section #detail .button-normal:hover:before {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#menu-section #detail .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#menu-section #items {
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu-section #items .item {
  cursor: pointer;
  margin: 40px;
  max-width: 320px;
}

#menu-section #items .item-name {
  color: #d9643a;
  text-align: center;
  font-family: "Noto Sans KR", "Arial";
}

#menu-section #items .item-explain {
  color: white;
  font-family: "Noto Sans KR", "Arial";
  text-align: center;
}

#menu-section #items .price {
  color: white;
  text-align: center;
  font-family: "Noto Sans KR", "Arial";
  margin: 5px 10px;
}

#menu-section #items .item-img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
}

#menu-section #items .item-ingredient {
  text-align: center;
  color: #d9643a;
}

#menu-section #items .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer {
  background-color: #c8c8c8;
  padding: 40px;
}

#footer img {
  display: block;
  margin: auto;
  cursor: pointer;
}

#footer #icon-box {
  text-align: center;
}

#footer .facebook {
  width: 40px;
}

#footer .facebook path {
  fill: #2c2c2c;
}

#footer .instagram {
  width: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

#footer .instagram path {
  fill: #2c2c2c;
}

#footer .twitter {
  width: 40px;
}

#footer .twitter path {
  fill: #2c2c2c;
}

#footer p {
  text-align: center;
  font-size: 1.1em;
}

.goback {
  cursor: pointer;
  position: fixed;
  color: #a17402;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.goback:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.recommend {
  font-size: 14px;
  color: white;
  background-color: red;
  padding: 2px 5px;
  border-radius: 8px;
}

.veggie {
  color: green;
}

@media (max-width: 700px) {
  #d-menu {
    display: none;
  }
}

@media (min-width: 700px) {
  .phone-menu {
    display: none;
  }
  #menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=menu.css.map */