$t1: #6e6e6e;
$p2: #975102;
$p3: #d9643a;
$p4: #9e2b02;
$p5: #a17402;
$p6: #30260a;
$t2: #2c2c2c;

@mixin h1 {
  color: $p2;
  font-size: 2em;
  font-weight: bold;
}

@mixin btn-style {
  border: 1px solid $p3;
  overflow: hidden;
  display: block;
  background: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: $p3;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Noto Sans KR", "Arial";
  position: relative;
  transition: 0.3s ease-in-out;

  .arrow {
    vertical-align: middle;
  }

  &:hover {
    color: white;
    // border:0px solid rgba(255,255,255,0);
    letter-spacing: 1px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $p3;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
  }

  &:hover:after {
    transform: translateX(0);
  }
}

@media only screen and(min-width: 700px) {
  .phone-menu {
    display: none;
  }

  .image {
    order: 2;
  }

  .hero {
    order: 1;
  }

  #images {
    flex: 50%;
    order: 2;

    img {
      width: 600px;
      display: none;
    }
  }

  #review {
    flex: 50%;
    order: 1;
    max-width: 600px;
  }

  #hero-section {
    display: none;

    .hero {
      display: none;
    }

    .image {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  #d-menu {
    display: none;
  }

  .line {
    display: none;
  }

  #hero-cover {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

// [class*="col-"] {
//   float: left;
// }

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

#header {
  display: flex;
  position: relative;

  // box-shadow: 0 0px 3px 2px rgb(150, 150, 150);
  .line {
    width: 100%;
    height: 0;
    position: absolute;
    box-shadow: 0 0 3px 1px rgb(150, 150, 150);
    bottom: 0;
  }

  a {
    margin: 10px 0 0 30px;
  }

  #d-menu {
    margin: auto;

    a {
      text-decoration: none;
      font-family: "Noto Sans KR", "Arial";
      font-size: 1.1em;
      color: $p4;
      font-weight: bold;
      margin: 3vw;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: 0.3s ease-in-out;
        top: -10px;
        left: 5px;
        transform: scale(0);
      }

      &:hover:after {
        width: 30px;
        height: 30px;
        background-color: $p4;
        border-radius: 100%;
        opacity: 0.4;
        transform: scale(1);
      }
    }
  }

  .phone-menu {
    height: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    height: 20px;

    div {
      width: 20px;
      background-color: black;
      height: 3px;
      margin-bottom: 5px;
    }
  }
}

#hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: 40px;
  position: relative;

  .hero {
    z-index: 1;
    flex: 100%;
    margin-top: -100px;
    margin-right: 40px;

    h1 {
      font-family: "Noto Serif KR", "Arial";
      color: $p2;
      font-size: 3em;
    }

    p {
      font-family: "Noto Sans KR", "Arial";
      color: $t1;
    }
  }

  .image {
    flex: 100%;
    text-align: right;

    img {
      width: 100%;
      min-width: 300px;
    }
  }
}

#introduction {
  clear: both;
  background-image: url("../img/chef-background.jpg");
  // margin-top: 100px;
  background-size: cover;
  padding: 50px 40px 50px 40px;

  .padding {
    margin: auto;
    max-width: 1660px;
  }

  .greeding {
    position: relative;
    max-width: 600px;
    background-color: white;
    border-radius: 25px;
    padding: 25px 25px 150px 25px;
    overflow: hidden;

    .circle {
      width: 400px;
      height: 400px;
      background-color: $p3;
      border-radius: 100%;
      opacity: 0.2;
      position: absolute;
      top: -150px;
      right: -100px;
    }

    h2 {
      text-align: center;
      font-family: "Noto Serif KR", "Arial";
      color: $p2;
      font-size: 2em;
    }

    p {
      font-family: "Noto Sans KR", "Arial";
      color: $t1;
    }

    .icon {
      color: $p3;
      font-size: 50px;
      text-align: center;
      display: block;
    }

    h3 {
      text-align: center;
      font-size: 1.1em;
      font-family: "Noto Sans KR", "Arial";
      color: $p3;
      margin-top: 10px;
    }

    .icon-word {
      font-family: "Noto Sans KR", "Arial";
      width: 200px;
      margin: auto;
    }
  }
}

.btn {
  @include btn-style;
}

#btn-position {
  position: relative;
  max-width: 1740px;
  margin: auto;
  z-index: 1;

  div {
    position: absolute;
    top: -150px;
    left: 230px;
  }
}

#section2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1700px;
  padding: 100px 40px 32px 40px;

  h1 {
    color: $p2;
    font-size: 2.5em;
    font-family: "Noto Serif KR", "Arial";
    font-weight: bold;
    display: block;
    width: 100%;
  }

  .circle {
    width: 500px;
    height: 500px;
    background-color: $p3;
    opacity: 0.2;
    border-radius: 100%;
    position: absolute;
    top: -100px;
    left: -250px;
    z-index: -1;
  }

  p {
    font-family: "Noto Sans KR", "Arial";
    color: $t1;
  }

  #images {
    width: 100%;
    margin-top: 50px;

    img {
      min-width: 400px;
      width: 100%;
      max-width: 600px;
      display: block;
      margin: auto;
    }
  }

  #images {
    width: 100%;
  }

  #review {
    border: 1px solid $p2;
    width: 100%;
    border-radius: 25px;
    padding: 15px;

    #container {
      background-color: rgba(161, 116, 2, 0.3);
      width: 100%;
      height: 690px;
      border-radius: 25px;
      padding: 20px;
      overflow: hidden;

      .face {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        display: block;
        margin: 20px auto 10px auto;
      }

      .stars {
        text-align: center;
      }

      .star {
        color: $p3;
      }

      .name {
        display: block;
        text-align: center;
        font-family: "Noto Sans KR", "Arial";
        font-weight: bold;
      }

      .statement {
        color: $t2;
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;
        max-width: 550px;
      }

      hr {
        height: 1px;
        background-color: white;
        border: none;
      }
    }
  }
}

#footer {
  background-color: #c8c8c8;
  padding: 40px;

  img {
    display: block;
    margin: auto;
    cursor: pointer;
  }

  #icon-box {
    text-align: center;
  }

  .facebook {
    width: 40px;

    path {
      fill: $t2;
    }
  }

  .instagram {
    width: 40px;
    margin-left: 100px;
    margin-right: 100px;

    path {
      fill: $t2;
    }
  }

  .twitter {
    width: 40px;

    path {
      fill: $t2;
    }
  }

  p {
    text-align: center;
    font-size: 1.1em;
  }
}

.goback {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.goback:hover {
  transform: scale(1.15);
}

#menu-box {
  height: 100%;
  width: 80%;
  background-color: $p6;
  position: fixed;
  z-index: 10;
  right: 100%;

  .menu {
    color: white;
    font-family: "Noto Sans KR", "Arial";
    font-size: 1.1em;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border-bottom: 1px solid rgb(80, 80, 80);

    span {
      margin-right: 15px;
    }
  }

  #menu-div {
    background-image: linear-gradient(right, $p4, $p5);
    width: 100%;
    height: 120px;
  }

  h2 {
    color: white;
    text-align: center;
    padding-top: 30px;
    line-height: 30px;
    font-size: 1.4em;
    margin: 0;
  }

  p {
    margin-top: 0;
    color: white;
    text-align: center;
    font-family: "Noto Sans KR", "Arial";
  }
}

#d-hero-section {
  display: flex;
  flex-wrap: wrap;

  .hero {
    background-color: rgb(200, 200, 200);
    padding: 30px;
    flex: 50%;
    padding-top: 100px;

    h1 {
      font-family: "Noto Sans KR", "Arial";
      color: $p2;
      font-size: 2.5em;
    }

    #explain {
      position: relative;
      width: 100%;
      height: 300px;
      background-color: $p6;
      padding: 15px;
      border-radius: 20px;
      max-width: 600px;
      margin: auto;

      h3 {
        color: $p3;
      }

      p {
        color: white;
        font-family: "Noto Sans KR", "Arial";
      }

      #price {
        border-bottom: 1px solid $p5;
        display: inline-block;
        padding-right: 150px;
        padding-bottom: 10px;
      }

      .btn {
        z-index: 1;
        float: right;
        color: $p5;
        border-color: $p5;

        &:hover {
          color: white;
        }

        &:after {
          background-color: $p5;
        }
      }
    }
  }

  .image {
    position: relative;
    padding-left: 50px;
    align-self: center;

    #slide-btn {
      position: absolute;
      bottom: 40%;
      left: 10px;

      .slide-circle {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: rgb(200, 200, 200);
        margin: 15px;
        cursor: pointer;
      }
    }

    img {
      width: 100%;
      max-width: 650px;
      min-width: 300px;
      float: right;
      object-fit: cover;
    }
  }
}