$t1: #6e6e6e;
$p2: #975102;
$p3: #d9643a;
$p4: #9e2b02;
$p5: #a17402;
$p6: #30260a;
$t2: #2c2c2c;
$font: "Noto Sans KR",
"Arial";

@mixin h1 {
    color: $p2;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Noto Serif KR", "Arial";
}

@mixin h2 {
    font-size: 2em;
    font-weight: bold;
    font-family: "Noto Serif KR", "Arial";
}

@mixin h3 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Noto Serif KR", "Arial";
}

@mixin btn-style {
    border: 1px solid $p3;
    overflow: hidden;
    display: block;
    background: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: $p3;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Noto Sans KR", "Arial";
    position: relative;
    transition: 0.3s ease-in-out;

    .arrow {
        vertical-align: middle;
    }

    &:hover {
        color: white;
        // border:0px solid rgba(255,255,255,0);
        letter-spacing: 1px;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $p3;
        transform: translateX(-100%);
        transition: 0.3s ease-in-out;
    }

    &:hover:after {
        transform: translateX(0);
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#header {
    display: flex;
    position: relative;

    a {
        margin: 10px 0 0 30px;
    }

    #d-menu {
        margin: auto;

        a {
            text-decoration: none;
            font-family: "Noto Sans KR", "Arial";
            font-size: 1.1em;
            color: $p4;
            font-weight: bold;
            margin: 3vw;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                transition: 0.3s ease-in-out;
                top: -10px;
                left: 5px;
                transform: scale(0);
            }

            &:hover:after {
                width: 30px;
                height: 30px;
                background-color: $p4;
                border-radius: 100%;
                opacity: 0.4;
                transform: scale(1);
            }
        }
    }

    .phone-menu {
        height: 0;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        height: 20px;

        div {
            width: 20px;
            background-color: black;
            height: 3px;
            margin-bottom: 5px;
        }
    }
}

#menu-box {
    height: 100%;
    width: 80%;
    background-color: $p6;
    position: fixed;
    z-index: 10;
    left: -100%;
    transition: .3s ease-in-out;

    .menu {
        color: white;
        font-family: "Noto Sans KR", "Arial";
        font-size: 1.1em;
        margin-left: 40px;
        margin-right: 40px;
        padding: 10px;
        border-bottom: 1px solid rgb(80, 80, 80);

        span {
            margin-right: 15px;
        }
    }

    #menu-div {
        background-image: linear-gradient(right, $p4, $p5);
        width: 100%;
        height: 120px;
    }

    h2 {
        color: white;
        text-align: center;
        padding-top: 30px;
        line-height: 30px;
        font-size: 1.4em;
        margin: 0;
    }

    p {
        margin-top: 0;
        color: white;
        text-align: center;
        font-family: "Noto Sans KR", "Arial";
    }
}

.background {
    background-color: $p6;
    padding: 40px;
}

#menu-section {
    background-color: $p6;
    padding: 20px 0 40px 0;
    max-width: 1200px;
    margin: auto;

    #menus {
        border-bottom: 2px solid $p5;
        padding: 20px;
    }

    .menu-sort {
        color: white;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-align: center;
        width: 120px;
        margin: auto;
        padding: 5px;
        transition: .3s;
        margin-top: 10px;
        font-size: 17px;

        &:hover {
            color: $p3;
            letter-spacing: 2px;
        }

        &:after {
            content: '';
            background-color: $p3;
            // z-index: 200;
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            right: 0;
            bottom: 0;
            transition: .3s;
            transform: translate(-100%)
        }

        &:hover:after {
            transform: translate(0)
        }
    }

    #modal {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        background-color: rgba(50, 50, 50, 0.8);

        .flex {
            width: 90%;
            height: 100%;
            max-width: 1000px;
            margin: auto;
            display: flex;
            align-items: center;
        }
    }

    #detail {
        border-radius: 20px;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        position: relative;

        // display: none;
        .close {
            color: white;
            font-size: 30px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            font-weight: bold;
        }

        .image {
            background-image: url('../img/table.jpg');
            background-size: cover;
            border-radius: 20px 20px 0 0;
            padding: 10px;
            min-height: 150px;


            .pizza-img {
                width: 50%;
                max-width: 350px;
                min-width: 250px;

            }
        }

        .explain {
            background-color: white;
            padding: 10px 20px;
            position: relative;
            border-radius: 0 0 20px 20px;
            overflow: hidden;

            #menu-name {
                text-align: center;
                font-family: $font;
                color: $p2;
                position: relative;

                .btn {
                    cursor: pointer;
                    color: black;
                    position: absolute;
                }
            }

            .left {
                left: 10px;
                bottom: 75%;
                position: absolute;
                cursor: pointer;
            }

            .right {
                right: 10px;
                bottom: 75%;
                position: absolute;
                cursor: pointer;
            }

            .menu-introduction {
                font-family: $font;
                color: $t1;
                // text-align: center;
                ;

            }

            .ingredient {
                color: $p3;
                font-weight: bold;
            }
        }

        .large {
            border: 1px solid $p5;
            width: 150px;
            padding: 10px 15px 10px 55px;
            border-radius: 20px;
            font-size: 17px;
            font-family: $font;
            background-color: none;
            outline: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            margin: 10px;

            &:after {
                position: absolute;
                content: 'L';
                background-color: $p5;
                color: white;
                left: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 40px;
                padding-top: 9px;
            }

            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: $p5;
                top: 0;
                transform: translateX(100%);
                transition: .4s;
                z-index: -1;
            }

            &:hover {
                color: white;
                z-index: 0;
            }

            &:hover:before {
                transform: translateX(-20%);
            }
        }

        .regular {
            border: 1px solid $p3;
            width: 150px;
            padding: 10px 15px 10px 55px;
            border-radius: 20px;
            font-size: 17px;
            font-family: $font;
            background-color: none;
            outline: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            margin: 10px;

            &:after {
                position: absolute;
                content: 'R';
                background-color: $p3;
                color: white;
                left: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 40px;
                padding-top: 9px;
            }

            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: $p3;
                top: 0;
                transform: translateX(100%);
                transition: .4s;
                z-index: -1;
            }

            &:hover {
                color: white;
                z-index: 0;
            }

            &:hover:before {
                transform: translateX(-20%);
            }
        }

        .button-normal {
            border: 1px solid $p5;
            width: 150px;
            height: 47px;
            padding: 0;
            border-radius: 20px;
            margin-bottom: 15px;
            font-size: 17px;
            font-family: $font;
            background-color: none;
            outline: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            margin-top: 8px;

            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: $p5;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                transform: translateX(100%);
                transition: .4s;
                z-index: -1;
            }

            &:hover {
                color: white;
                z-index: 0;
            }

            &:hover:before {
                transform: translateX(0px);
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    #items {
        margin: auto;
        // max-width: 1200px;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .item {
            cursor: pointer;
            margin: 40px;
            max-width: 320px;

        }

        .item-name {
            color: $p3;
            text-align: center;
            font-family: $font;
        }

        .item-explain {
            color: white;
            font-family: $font;
            text-align: center;
        }

        .price {
            color: white;
            text-align: center;
            font-family: $font;
            margin: 5px 10px;
        }

        .item-img {
            width: 100%;
            max-width: 400px;
            display: block;
            margin: auto;
        }

        .item-ingredient {
            text-align: center;
            color: $p3;
        }

        .price-container {
            display: flex;
            justify-content: center;
        }
    }
}

#footer {
    background-color: #c8c8c8;
    padding: 40px;

    img {
        display: block;
        margin: auto;
        cursor: pointer;
    }

    #icon-box {
        text-align: center;
    }

    .facebook {
        width: 40px;

        path {
            fill: $t2;
        }
    }

    .instagram {
        width: 40px;
        margin-left: 100px;
        margin-right: 100px;

        path {
            fill: $t2;
        }
    }

    .twitter {
        width: 40px;

        path {
            fill: $t2;
        }
    }

    p {
        text-align: center;
        font-size: 1.1em;
    }
}

.goback {
    cursor: pointer;
    position: fixed;
    color: $p5;
    right: 20px;
    bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.goback:hover {
    transform: scale(1.15);
}

.recommend {
    font-size: 14px;
    color: white;
    background-color: red;
    padding: 2px 5px;
    border-radius: 8px;
}

.veggie {
    color: green;
}

#purchase {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    right: -100%;
    top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .5s ease-in-out;


    .cart {
        margin: auto;
        position: relative;

    }

    .number {
        position: absolute;
        top: 0;
        right: 5px;
        width: 20px;
        height: 20px;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 50%;
    }
}

#cart-list {
    width: 100%;
    max-height: 340px;
    max-width: 300px;
    background-color: rgb(129, 115, 98);
    position: fixed;
    top: -100%;
    right: 0;
    border-radius: 0 0 25px 25px;
    padding: 0 20px 20px 20px;
    transition: .5s ease-in-out;

    .close-position {
        position: relative;

        .cart-list-close {
            position: absolute;
            right: 0;
            font-size: 17px;
            top: 10px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .cartTitle {
        text-align: center;
        color: white;
    }

    .item-container {
        width: 100%;
        max-height: 165px;
        margin-bottom: 15px;
        // overflow: hidden;
        overflow: auto;
        position: relative;
    }

    img {
        height: 40px;
    }

    .item-name {
        color: white;
        margin: 0 10px 0 10px;
        width: 85px;
        font-family: $font;
    }

    .item-price {
        color: white;
        font-family: $font;
    }

    .item-number {
        font-weight: bold;
    }

    .item-totalMoney {
        font-size: 17px;
        font-weight: bold;
        margin-left: 10px;
    }

    .trash {
        color: red;
        margin-left: 5px;
        cursor: pointer;
    }

    .buy {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: white;
        margin-top: 15px;
        background-color: $p3;
        color: white;
        font-size: 17px;
        font-family: $font;
        cursor: pointer;
    }

    .item-total-price {
        color: white;
        border-top: 1px solid rgb(220, 220, 220)
    }
}


@media(max-width:700px) {
    #d-menu {
        display: none;
    }
}

@media(min-width:700px) {
    .phone-menu {
        display: none;
    }

    #menus {
        display: flex;
    }
}